body {
    margin: 0;
    padding: 0;
}

.cabecalho .valign-wrapper {
    height: 15vh;
}

section.row,
footer.page-footer {
    margin: 0;
}

.main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.radius-border {
    border-radius: 5px;
}

input.ng-invalid.ng-touched:focus:not([readonly]),
input.ng-invalid.ng-touched {
    border-bottom: 1px solid #F44336;
    box-shadow: 0px 1px 0px 0px #F44336;
}

input.ng-invalid.ng-touched:focus:not([readonly]) ~ label {
	color: #EC7373;
}

div .datepicker, div .select-dropdown {
	border-bottom: 1px solid #4CAF50;
	box-shadow: 0px 1px 0px 0px #4CAF50;
}

input.ng-invalid.ng-touched ~ label {
	color: #EC7373;
}

.material-tooltip span {/*make materialize tooltip accept newline*/
	white-space: pre-wrap;
}

label[for=phone_number],label[for=email],label[for=birthday],label[for=state] {/*fix placeholder issue*/
    font-size: 0.8rem;
    transform: translateY(-140%);
}

#name, #city{/*capitalize name and city fields*/
    text-transform: uppercase;
}

nav .brand-logo {
    font-size: 1.5rem;
}

.myContainer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

div.home-card {
    height: 500px;
}

div.myCard {
    height: auto;
}

div.home-card-content {
    height: 200px;
    overflow: scroll;

}