body {
    margin: 0;
    padding: 0;
}

.cabecalho .valign-wrapper {
    height: 15vh;
}

section.row, footer.page-footer {
    margin: 0;
}


.main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.radius-border {
    border-radius: 5px;
}


input.ng-invalid.ng-touched:focus:not([readonly]), input.ng-invalid.ng-touched{
	border-bottom: 1px solid #F44336;
	box-shadow: 0px 1px 0px 0px #F44336;
}

input.ng-invalid.ng-touched:focus:not([readonly]) + label {
	color: #EC7373;
}

input.ng-invalid.ng-touched + label {
	color: #EC7373;
}

nav .brand-logo {
    font-size: 1.5rem;
}
