<section class="col l9 m9 s12">

    <!-- Category-->
    <div class="row" ng-repeat="category in getCategories()">
        <div class="col l3 m6 s12"  ng-repeat="item in getItemsByCategory(category)" >
            {{ category }}
            <div class="card z-depth-3">
                <div class="card-image">
                    <img ng-src="{{item.images[0]}}">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <p>Category : {{ item.category }}</p>
                    <p>{{ item.name }}</p>
                    <p>{{ item.description }}</p>
                    
                </div>
                <div class="card-action">
                    <span>AVALIACAO: over 9000</span>
                    <a href="#">comparativo</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="col l3 m3 hide-on-small-only">

    <div class="card z-depth-3">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
</section>