<section class="col l9 m9 s12">
    {{ message }}
    <ul class="collapsible white z-depth-4" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active"><i class="mdi-social-people-outline"></i>FPS</div>
            <div class="row collapsible-body">
                <div class="col l3 m6 s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="wild_in_the_blue-961005.jpg">
                            <span class="card-title">Howling wolf is awesome</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <span>AVALIACAO: over 9000</span>
                            <a href="#">comparativo</a>
                        </div>
                    </div>
                </div>
                <div class="col l3 m6 s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="wild_in_the_blue-961005.jpg">
                            <span class="card-title">Howling wolf is awesome</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <span>AVALIACAO: over 9000</span>
                            <a href="#">comparativo</a>
                        </div>
                    </div>
                </div>
                <div class="col l3 s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="wild_in_the_blue-961005.jpg">
                            <span class="card-title">Howling wolf is awesome</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <span>AVALIACAO: over 9000</span>
                            <a href="#">comparativo</a>
                        </div>
                    </div>
                </div>
                <div class="col l3 s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="wild_in_the_blue-961005.jpg">
                            <span class="card-title">Howling wolf is awesome</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <span>AVALIACAO: over 9000</span>
                            <a href="#">comparativo</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-social-public"></i>MMO</div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi-image-colorize"></i>Shooter</div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </li>
    </ul>


</section>

<section class="col l3 m3 hide-on-small-only">

    <div class="card">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="wild_in_the_blue-961005.jpg">
            <span class="card-title">Howling wolf is awesome</span>
        </div>
        <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
            <span>AVALIACAO: over 9000</span>
            <a href="#">comparativo</a>
        </div>
    </div>
</section>